{% extends 'blog/base_blog.html' %}

{% block title %}
  Store
{% endblock %}

{% block content %}
    <main>
        {% for product in products %}
        <div class="card-group">

            <div class="card product">
                    <a href="{{product.get_absolute_url}}"
                        class="product__link">
                        <img src="{{product.image.url}}"
                            class="card-img-top products__img"
                            alt="{{product.title}}">
                        <div class="card-body">
                            <h5 class="card-title products__title">{{product.title}}</h5>
                            <p class="card-text">
                                {{product.body|truncatewords:35}}
                            </p>
                            <p class="card-text fs-5">Цена: {{product.price}}₿</p>
                        </div>
                    </a>
                </div>

        </div>
        {% endfor %}
    </main>
{% endblock %}