{% extends 'blog/base_blog.html' %}

{% block title %}
  {{product.title}}
{% endblock %}

{% block content %}
    <h1>{{product.title}}</h1>
    <main>
        <div class="card mb-3 page-product">
                <img src="{{product.image.url}}"
                    class="card-img-top"
                    alt="{{product.title}}">
                <div class="card-body">
                    <h5 class="card-title page-product__title">{{product.title}}</h5>
                    <p class="card-text">{{product.body}}</p>
                    <p class="card-text fs-5">
                        Цена: <span class="page-product__price">{{product.price}}</span>₿
                    </p>
                    <button type="button"
                        class="btn btn-info page-product__add"
                        id="product-add"
                        data-id="{{product.slug}}">
                        Добавить в корзину
                    </button>
                    <button type="button"
                        class="btn btn-danger"
                        data-bs-toggle="modal"
                        data-bs-target="#orderBuy">
                        Купить сейчас
                    </button>
                </div>
            </div>
    </main>
{% endblock %}